* { box-sizing: border-box; }

html {
    font-size: 20px;
}

body { margin: 0; font-family: 'Roboto', sans-serif;}

h1, h2, p, a {
    margin: 0;
    font-weight: normal;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: background 0.2s ease, color 0.2s ease;
}

a:hover {
    color: white;
    background-color: #136C72;
}

.wrapper {
    width: 50%;
    max-width: 750px;
    margin: 0 auto;
}

header {
    background-color: #23424A;
    color: white;
    margin: 0;
    padding: 5rem 0;
}

h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.learnLink {
    display: inline-block;
    background-color: #38CFD9;
    padding: 0.75rem 2rem;
    border-radius: 1.5rem;
    margin: 2rem 0 0 0;
}